@import '~@fortawesome/fontawesome-free/css/all.css';

@tailwind base;
@tailwind components;
@tailwind utilities;

.no-select {
    -webkit-touch-callout: none; /* iOS Safari */
    -webkit-user-select: none; /* Safari */
    -khtml-user-select: none; /* Konqueror HTML */
    -moz-user-select: none; /* Old versions of Firefox */
    -ms-user-select: none; /* Internet Explorer/Edge */
    user-select: none;
    /* Non-prefixed version, currently
                                     supported by Chrome, Edge, Opera and Firefox */
}

@layer utilities {
    .filter-none {
        filter: none;
    }

    .filter-grayscale {
        filter: grayscale(100%);
    }
}

.feature-tab {
    @apply m-4 p-4 bg-cq-slate shadow-xl;
}

.tooltip {
    @apply hidden absolute;
}

.has-tooltip:hover .tooltip {
    @apply block z-50 border-4 rounded-md
}

.btn {
    @apply m-1 py-2 px-4 font-semibold rounded-lg shadow-md disabled:opacity-50;
}

.card-image {
    @apply w-28 h-28 mx-auto m-2;
}

.input-primary {
    @apply border border-gray-300 p-2 my-2 mx-1 rounded-md focus:outline-none focus:ring-2 ring-blue-200;
}

.input-range {
    @apply border border-gray-300 py-2 my-2 rounded-md focus:outline-none;
}

.btn-green {
    @apply text-white bg-green-500 hover:bg-green-600;
}

.btn-blue {
    @apply text-white bg-blue-500 hover:bg-blue-600;
}

.btn-red {
    @apply text-white bg-red-500 hover:bg-red-600;
}